h1{
    text-align: center;
}
ion-button{
    font-size: x-large;
    font-style: italic;
    font-weight: bolder;
}
p{
    text-align: center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-left: .80rem;
  
}
.img1{
    width: 400px;
    height: 250px;
    border-radius: 0%;
    margin-left: 0%;
}

.home{
    margin-left: 7ch;
    
}