h1{
    text-align: center;
        font-family:'Levelo';
        font-size: x-large;
        font-weight: bold;
        color: #663232;
}
ion-button{
    font-size: x-large;
    font-style: italic;
    font-weight: bolder;
}
p{
    text-align: center;
    font-size: large;
    font-family:'Levelo';
    font-weight: bold;
    color: #663232;
}
img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-left: .80rem;
  
}
.img1{
    width: 400px;
    height: 250px;
    border-radius: 0%;
    margin-left: 0%;
}

.home{
    margin-left: 7ch;
    
}

.img2{
    width: 250px;
    height: 20px;
    border-radius: 0%;
    margin-left: 0%;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}
ion-icon{
    color: black;
}
.btn1{
    font-size: large;
}
ion-header{
    background: #ff9966;
}