<ion-header>
  <ion-toolbar color="#ff9966">
    <ion-button class="btn1"  fill="clear" routerLink="/profile">
      <ion-icon slot="icon-only" name="people-circle-outline"></ion-icon>
  </ion-button>
</ion-toolbar>
</ion-header>


<ion-content>


  <img class="img1" src="assets/bg.jpg"><br>
  <h1>MOST RECOMMENDED HOTELS</h1>
<img src="assets/hotel.png">
<img src="assets/camp.png">
<img src="assets/farm.png">
<br>
<br>
<br>

<p>Book your trip</p>
<ion-button type="submit" color="dark" fill="outline" expand="full" routerLink="/hotels">Where to next?</ion-button>
<br><br>

  



</ion-content>
