ion-button{
    margin-left: 17ch;
}
ion-select{
    margin-left: 10ch;
}
h2{
    text-align: center;
    color: white;
    font-family:'Levelo';
}
ion-content{
    --background: linear-gradient(to bottom, #ffcc99 37%, #ff9966 100%);
}
ion-card{
    --background: #663232;
}
.ion3{
    --background:white;
}
h1{
    font-family:'Levelo';
    color: rgb(15, 15, 15);
    margin-left: 2ch;
    font-weight: bold;
}
h3{
    font-family:'Levelo';
    color: rgb(15, 15, 15);
    margin-left: 2ch;
}
p{
    margin-left: 2ch;
}