<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="hotels"></ion-back-button>
      </ion-buttons>
      <ion-title>Suite Twin</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  

<ion-content>

    <ion-card class="ion1">
      <img class="img1" src="assets/st.png">
      <ion-button class="button1" color="dark" fill="solid" size="warning">₱4,860</ion-button>
    <ion-card-title class="ion2">Hotel Name: HOTEL 1925 <br> Type: Suite Twin <br>
       Location: Lipa City, Batangas </ion-card-title>
       <ion-icon name="wifi" class="icon2"></ion-icon>
       <ion-label>Free Wifi</ion-label>
       <ion-icon name="bed" class="icon1"></ion-icon>
       <ion-label>2 Single Beds</ion-label>

       <h1>Description</h1>
<p>Room size:  38 m²/409 ft² <br>
  Nature view<br><br>
  
  In your private bathroom:<br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Hair dryer</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Toiletries</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Towels</ion-label><br><br>

  Entertainment: ​<br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Complimentary WIFi in all rooms</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Phone</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Satellite/cable channels</ion-label><br><br>

  Comforts: ​<br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Air conditioning</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Blackout curtains</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Linens</ion-label><br><br>

  Dining, drinking, and snacking: ​<br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Complimentary drinking water</ion-label><br><br>

  Layout and furnishings: ​<br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Desk</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Seating area</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Sofa</ion-label><br><br>

  Clothing and laundry: ​<br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Closet</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Iron and ironing board</ion-label><br><br>

  Safety and security features: ​<br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Individual air conditioning</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Lock box in room</ion-label><br><br>


  </p>
  <ion-button class="button2" color="dark" fill="solid" size="warning">RESERVE</ion-button>
  </ion-card>


 

</ion-content>
