<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="yellowbell"></ion-back-button>
      </ion-buttons>
      <ion-title>Standard Double Room</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  

<ion-content>

    <ion-card class="ion1">
      <img class="img1" src="assets/sdr.jpg">
      <ion-button class="button1" color="dark" fill="solid" size="warning">₱1,513</ion-button>
    <ion-card-title class="ion2">Hotel Name: Yellowbell Hotel <br> Type: Standard Double Room <br>
       Location: Pallocan West,Batangas City </ion-card-title>
       <ion-icon name="wifi" class="icon2"></ion-icon>
       <ion-label>Free Wifi</ion-label>
       <ion-icon name="bed" class="icon1"></ion-icon>
       <ion-label>1 Double Bed</ion-label>

       <h1>Description</h1><br>
<p>Room size 20 m² <br>
  Comfy beds, 7.1 – Based on 6 reviews<br>
  This double room has air conditioning.<br><br>
  
  In your private bathroom:<br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Free toiletries</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Shower</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Toilet</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Towels</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Hairdryer</ion-label><br><br>

  Room facilities: ​<br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Upper floors accessible by elevator</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Entire unit wheelchair accessible</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Linen</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Air conditioning</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Tile/marble floor</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Desk</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Flat Screen TV</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Telephone</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Cable channels</ion-label><br>
  </p>
  <ion-button class="button2" color="dark" fill="solid" size="warning">RESERVE</ion-button>
  </ion-card>


 

</ion-content>
