<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="hotels"></ion-back-button>
      </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>

  <img src="assets/faro.jpg">

    <ion-card class="ion3">
    <ion-card class="ion1">
      <img class="img1" src="assets/deluxe.jpg">
      <ion-button color="dark" fill="solid" size="warning" routerLink="/deluxe">₱5,824</ion-button>
    
      <p *ngFor="let d of delhotel">
    <ion-card-title class="ion2" *ngIf="d.rm === 1">Hotel Name: {{d.hname}} <br> Type: {{d.style}} <br>
       Location:  {{d.loc}} </ion-card-title>
    </p>
  </ion-card>
  </ion-card>

  <ion-card class="ion3">
    <ion-card class="ion1">
      <img class="img1" src="assets/fr.jpg">
      <ion-button color="dark" fill="solid" size="warning" routerLink="/fr">₱12,054</ion-button>
    
      <p *ngFor="let d of delhotel">
    <ion-card-title class="ion2" *ngIf="d.rm === 2">Hotel Name: {{d.hname}} <br> Type: {{d.style}} <br>
       Location:  {{d.loc}} </ion-card-title>
    </p>
  </ion-card>
  </ion-card>
  
  <ion-card class="ion3">
    <ion-card class="ion1">
      <img class="img1" src="assets/suite.jpg">
      <ion-button color="dark" fill="solid" size="warning" routerLink="/suite">₱4,107</ion-button>
    
      <p *ngFor="let d of delhotel">
    <ion-card-title class="ion2" *ngIf="d.rm === 3">Hotel Name: {{d.hname}} <br> Type: {{d.style}} <br>
       Location: {{d.loc}} </ion-card-title>
    </p>
  </ion-card>
  </ion-card>

    <ion-footer>
      <ion-toolbar></ion-toolbar>
    </ion-footer>
  
  </ion-content>