div {
    background: linear-gradient(to bottom, #ffcc99 37%, #ff9966 100%);
}
.flex-center{

    display: flex;
    
    justify-content: center;
    
    align-items: center;
    
    height: 100%;
}
