<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="login"></ion-back-button>
      </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <p>Forgot Password</p>
    <div class="ion-padding">

      <form class="ion-padding">

          <div class="wrap-input">
            <input class="input" type="text" name="user-name" placeholder="User Name">
          </div>
        <div class="flex-center">
          <div class="container-form-btn">
            <button class="form-btn custom-font" routerLink="/resetpw">Forgot Password</button>
          </div>
        </div>
      </form>

    </div>
  
  </ion-card>
</ion-content>
