<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="camp"></ion-back-button>
      </ion-buttons>
      <ion-title>Villa</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  

<ion-content>

    <ion-card class="ion1">
      <img class="img1" src="assets/villaa.jpg">
      <ion-button class="button1" color="dark" fill="solid" size="warning">P7,920</ion-button>
    <ion-card-title class="ion2">Hotel Name: Camp Netanya Resort and Spa <br> Type: Villa <br>
       Location: Anilao, Batangas </ion-card-title>
       <ion-icon name="wifi" class="icon2"></ion-icon>
       <ion-label>Free Wifi</ion-label>
       <ion-icon name="bed" class="icon1"></ion-icon>
       <ion-label>1 King Bed</ion-label>

       <h1>Description</h1>
<p>Room size 28 m² <br>
  Balcony<br>
  Pool view<br><br>
  
  In your private bathroom:<br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Free toiletries</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Toilet Bathtub</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Towels</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Hairdryer</ion-label><br><br>


  Room facilities: ​<br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Slippers</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Tea/Coffee Maker</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Linen</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Air conditioning</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Tile/marble floor</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Desk</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Flat Screen TV</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Minibar</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Cable channels</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Electric kettle</ion-label><br>
  </p>
  <ion-button class="button2" color="dark" fill="solid" size="warning" routerLink="/reserve">RESERVE</ion-button>
  </ion-card>

</ion-content>
