h1{
    text-align: center;
    font-family:'Levelo';
    font-size: xx-large;
    font-weight: bold;
    color: #fdf7f7;
}
img{
    width: 200px;
    height: 160px;
}
.pic{
    width: 180px;
    height: 180px;
    margin-left: 0.5ch;

}

.person{
    width: 0;
    height: 0;
}
.home{
    margin-left: 12.5ch;
}
ion-content{
    --background: linear-gradient(to bottom, #ffcc99 37%, #ff9966 100%);
}
ion-card{
    --background: #663232;
}
