<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home1"></ion-back-button>
      </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
<h1>Hotels in Batangas <br>Province</h1>
</ion-card>
<ion-button class="pic" color="light" fill="solid" size="warning">
  <img src="assets/ponte.png">
</ion-button>

<ion-button class="pic" color="light" fill="solid" size="warning" routerLink="/camp">
  <img src="assets/camp.png">
</ion-button>

<ion-button class="pic" color="light" fill="solid" size="warning" routerLink="/snbnt">
  <img src="assets/farm.png">
</ion-button>

<ion-button class="pic" color="light" fill="solid" size="warning" routerLink="/lipa">
  <img src="assets/hotel.png">
</ion-button>

<ion-button class="pic" color="light" fill="solid" size="warning" routerLink="/taal">
  <img src="assets/taal.png">
</ion-button>

<ion-button class="pic" color="light" fill="solid" size="warning" routerLink="/del">
  <img src="assets/faro.png">
</ion-button>

<ion-button class="pic" color="light" fill="solid" size="warning" routerLink="/yellowbell">
  <img src="assets/yellowbell.png">
</ion-button>

<ion-button class="pic" color="light" fill="solid" size="warning" routerLink="/villas">
  <img src="assets/villas.png">
</ion-button>



</ion-content>
