<ion-content>
  <div class="flex-center">
    <img src="assets/p1.png">
  </div>
  <div class="flex-center">
  <div class="action-button ion-padding">
    <button class="form-btn custom-font" type="submit" expand="block" shape="round"
     routerLink="/resetpw">Change Photo</button>
  </div>
  </div>
  <ion-card>
  <ion-item>
    <ion-label>Name:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Phone:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Date of Birth:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Address:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  </ion-card>
  
  <div class="flex-center">
  <div class="action-button ion-padding">
    <button class="form-btn custom-font" (click)="presentAlert()"  type="submit" expand="block" shape="round"
     routerLink="/profile">Save</button>
  
  </div>
  </div>
  </ion-content>
  