<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="hotels"></ion-back-button>
      </ion-buttons>
      <ion-title>Standard Room</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  

<ion-content>

    <ion-card class="ion1">
      <img class="img1" src="assets/sr.jpg">
      <ion-button class="button1" color="dark" fill="solid" size="warning">₱5,824</ion-button>
    <ion-card-title class="ion2">Hotel Name: Villas by Eco Hotel <br> Type: Standard Room <br>
       Location: Mataas na Kahoy, Batangas  </ion-card-title>
       <ion-icon name="wifi" class="icon2"></ion-icon>
       <ion-label>Free Wifi</ion-label>
       <ion-icon name="bed" class="icon1"></ion-icon>
       <ion-label>1 Queen Bed</ion-label>

       <h1>Description</h1>
<p>Room size: 225 sq m  <br>
  Pool view<br><br>
  
  In your private bathroom:<br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Shower</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Hair dryer</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Private bathroom</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Towels</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Slippers</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Free toiletries</ion-label><br><br>

  Bedroom: ​<br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Air conditioning</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Bed sheets</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Ceiling fan</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Separate bedroom</ion-label><br><br>

  Food and drink: ​<br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Refrigerator</ion-label><br><br>

  More: ​<br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Desk</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Daily housekeeping</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Pet friendly</ion-label><br><br>

  Outdoor space: ​<br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Balcony or patio</ion-label><br>


  </p>
  <ion-button class="button2" color="dark" fill="solid" size="warning">RESERVE</ion-button>
  </ion-card>


 

</ion-content>
