<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="hotels"></ion-back-button>
      </ion-buttons>
      <ion-title>Deluxe Studio</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  

<ion-content>

    <ion-card class="ion1">
      <img class="img1" src="assets/ds.jpg">
      <ion-button class="button1" color="dark" fill="solid" size="warning">₱3,902</ion-button>
    <ion-card-title class="ion2">Hotel Name: Taal Maranan's Farmville Inc by Cocotel <br> Type: Deluxe Studio <br>
       Location: Taal, Batangas </ion-card-title>
       <ion-icon name="wifi" class="icon2"></ion-icon>
       <ion-label>Free Wifi</ion-label>
       <ion-icon name="bed" class="icon1"></ion-icon>
       <ion-label>1 Large Double Bed</ion-label>

       <h1>Description</h1>
<p>Room size 21 m² <br><br>


  Room facilities: ​<br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Air conditioning</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Balcony</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Desk</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Private bathroom</ion-label><br>
  <ion-icon name="checkmark"></ion-icon>
  <ion-label>Entire studio</ion-label><br>
  </p>
  <ion-button class="button2" color="dark" fill="solid" size="warning" routerLink="/reserve">RESERVE</ion-button>
  </ion-card>

</ion-content>
