<ion-content>
  
  <div class="flex-center">
    <img src="assets/logo.png">
</div>
<ion-card-content>
<ion-card>
  <div class="login-form ion-padding">
  <div class="form-input">
      <ion-icon name="mail-outline"></ion-icon>
    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
    </ion-item>
    </div>
    <div class="form-input">
      <ion-icon name="lock-closed-outline"></ion-icon>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </div>
  </div>
  <div class="action-button ion-padding">
    <ion-button type="submit" size="full" color="danger" fill="clear" routerLink="/forgotpw">Forgot Password?</ion-button>
    <ion-button type="submit" expand="block" shape="round" color="dark" routerLink="/home1">Login</ion-button>
    <ion-button color="dark" expand="block" shape="round" (click) ="signup()">Sign Up</ion-button><br>
    <h4>Don't have an account? Sign up</h4>
    </div>  
  </ion-card>
  </ion-card-content>
</ion-content>
