ion-content{
    --background: linear-gradient(to bottom, #ffcc99 37%, #ff9966 100%);
}
ion-card-content{
    
    --background: #fce3d8;
    justify-content: center;
  
}
ion-card{
    box-shadow: 0 10px 30px 0px rgba(96, 118, 134, 0.5);
    --background: #fce3d8;
    justify-content: center;
}
ion-item{
    
    --background: #fce3d8;
    justify-content: center;
}

.flex-center{

    display: flex;
    
    justify-content: center;

    margin-bottom: 2px;

}


h4{
    font-family:'Helvetica', Sans-serif;
    font-size: 15px;
    color:#161224;
    margin-left: 8px;
    margin-block-start: 0%;
    text-align:center;
}
img{
    width: 250px;
    height: 250px;
    bottom: 0%;
}
.login-form{
    .form-input{
        position: relative;
        margin-bottom: 10px;
        ion-item:part(native){
            padding-left: 0;
    }
    ion-icon{
        position: absolute;
        top: 28px;
        z-index: 2;
        font-size: 18px;
        display:flex;
    }
ion-label{
        position: absolute;
        margin-left: 15px;
        margin-block-start: 0%;
        font-weight: bolder;
        font-size: 0.8rem;
        
    }
    }
}

