ion-button{
    justify-content: center;
    align-items: center;
    margin-left: 13ch;
    margin-top: 0%;
    
}
h1{
    text-align: center;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ion1{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #fce3d8;
}
.ion2{
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: large;
    color:rgb(26, 24, 24);
    margin-bottom: 5px;
    background: #fce3d8;
    
}
.ion3{
    background: #e6b49f;
}
.img1{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 300px;
    margin-left: 2%;
    margin-right: 6%;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
}
ion-card-title{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
}
