<ion-header>
  <ion-toolbar color="#cbd4b5">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home1"></ion-back-button>
      </ion-buttons>
      <ion-title>Profile</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  
  <div class="flex-center">
    <img src="assets/p1.png">
</div>
<p>Vivian Marie J. Alvarez</p>

  <ion-card>
<div class="about-section ion padding">
  <div class="action-button ion-padding">


  <ion-icon name="settings"></ion-icon>
    <ion-button type="submit" color="dark" fill="outline" expand="full" href="personalinfo" >Account Settings</ion-button>
  <ion-icon name="log-out"></ion-icon>
    <ion-button type="submit" color="dark" fill="outline" expand="full" href="login">Log-out</ion-button>

    </div>  
</div>
</ion-card>

</ion-content>